// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
.fonted{
  font-family: 'Stick No Bills', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
.buttons{
  font-family: 'Grechen Fuemen', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.tableletters{
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}